.finishScreen {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 30px;
}

.finishScreen h2 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    padding: 25px;
    background-color: #1098ad;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.finishScreen p {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}